html, body {
    height: 100vh;
}

.container {
    margin-top: 5%;
    background: var(--color-primary);
    width: 60%;
    height: 70%;
    display: flex;
    border-radius: 10px;
}

.row {
    align-items: center;
    width: 100%;
}

.illustration {
    display: flex;
    justify-content: center;
    max-width: 90%;
    height: auto;
}

.button {
    height: 100%;
    display: flex;
}

.container-button {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 5%;
    margin: auto;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main h2 {
    color: var(--color-primary);
    font-weight: bold;
}

.button-collaborator {
    background-color: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-primary);
    border-radius: 10px;
    margin-bottom: var(--spacing-medium);
}

.button-admin {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
}

.button-collaborator:hover, .button-admin:hover {
    background-color: #07b3fd8c;
    color: var(--color-white);
    transition: .1s ease-in;
}
